<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<a th:href="@{/add}">Add New Person</a> <hr />
<div th:if="${persons != null and !persons.empty}">
<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    <tr th:each="person : ${persons}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.surname}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.phone}"></td>
        <td>
            <!--     PARAMETER CONCATENATION       -->
            <a th:href="@{/edit/} + ${person.idPerson}" th:text="Edit"></a> |
            <!--     QUERY PARAMETER       -->
            <a th:href="@{/delete(idPerson=${person.idPerson})}" th:text="Delete"></a>
        </td>
    </tr>
</table>
</div>
<div th:if="${persons == null or persons.empty}">
    The list is empty
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>