<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Person Info</title>
</head>
<body>
<h1>Person Information</h1>
<a th:href="@{/}">Go Back</a>
<br />
<form th:action="@{/save}" method="post" th:object="${person}">
    <input type="hidden" th:field="*{idPerson}" />
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">This field must not be empty</span>
    <br />
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname" th:field="*{surname}" />
    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">This field must not be empty</span>
    <br />
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">This field must not be empty</span>
    <br />
    <label for="phone">Phone: </label>
    <input type="tel" id="phone" name="phone" th:field="*{phone}" />
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">This field must not be empty</span>
    <br />
    <input type="submit" name="submit" value="Submit" />
</form>
</body>
</html>